# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignored Terraform files bk
*.bk
# Public Private keys
DigitalOceanPrivate
DigitalOcean_id_rsa.pub